<br>
<br>
<h4>Пилюли </h4>
  
{{#each products}}
<div class="row">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="/product/{{id}}"><img src={{img}} class="img-fluid rounded-start" alt=""></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="/product/{{id}}"><h5 class="card-title">{{title}}</h5></a>
          <p class="card-text">{{price}} рублей</p>
          <p class="card-text"><small class="text-muted">Описание: {{description}}</small></p>
          <p class="card-text"><small class="text-muted">Количество: {{quanity}}</small></p>
          <p class="card-text"><small class="text-muted">ТУТ ДОЛЖНА БЫТЬ КАТЕГОРИЯ {{denomination_id}}</small></p>
        </div>
      </div>
    </div>
</div>
{{/each}}

