<br>
<br>

<h4>{{product.title}}</h4>
<div class="flex products">
  <div class="item-img">
    <img src="{{product.img}}" alt="item img" >
  </div>
  
  <div class="item-descr">
    <p>{{product.description}}</p>
    <p>{{product.price}} руб.</p>
    <p>Остаток на складе: {{product.quanity}} шт.</p>
    <button id="{{product.id}}" class="btn btn-outline-primary addToCartBtn">Добавить в корзину</button>
  </div>
</div>

