<script defer src="/js/promo.js"></script>

<div class="promoAdmin">
    <form id="formPromo">
        <input type="text" name="titlePromo" placeholder="Введите название акции">
        <input type="text" name="descriptionPromo" placeholder="Введите название акции">
        <input type="date" name="startDate">
        <input type="date" name="endDate">
        <button type="submit" class="btn btn-success" >Сгенерировать акцию</button>
    </form>
</div>

{{#if actualPromo}}
    {{#each actualPromo}}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{Product.dataValues.img}} class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{id}}</h5>
                        <p class="card-text">{{price}} рублей</p>
                        <p class="card-text"><small class="text-muted">Описание: {{description}}</small></p>
                        <p class="card-text"><small class="text-muted">Количество: {{quanity}}</small></p>
                        <p class="card-text"><small class="text-muted">ТУТ ДОЛЖНА БЫТЬ КАТЕГОРИЯ {{denomination_id}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h3>Нет действующих акций</h3>
{{/if}}

